.nav-wrapper {
    display: flex;
}


.box-1 {
    padding-top: 10px;
    flex: 1;
}

.search
{
    margin-left: 50px;
    height: 40px;
    width: 250px;
}

.box-1 a {
    color: black;
    size: ;
}

.box-2 a {
    margin-right: 40px;
    text-decoration: none;
}
.box-2 a:hover{
    background-color: aqua;
    
}

.box-2 {
    padding-top: 20px;
    flex: 1;
}

.a:hover{
    background-color: rgb(56, 186, 237);
}


