.nav-wrapper {
    display: flex;
}


.box-1 {
    padding-top: 10px;
    flex: 1;
}


.box-1 a {
    margin-left: 70px;
    color: black;
}

.box-2 a {
    margin-right: 40px;
    text-decoration: none;
}
.box-2 a:hover{
    background-color: aqua;
    width: 1000px ;
}

.box-2 {
    padding-top: 20px;
    flex: 1;
}

.a:hover{
    background-color: rgb(56, 186, 237);
}


